
.ipynb_checkpoints/opdr_2.2-checkpoint.ipynb
.ipynb_checkpoints/opdr_2.1-checkpoint.ipynb
.ipynb_checkpoints/opdr_2.3-checkpoint.ipynb
.ipynb_checkpoints/neural_network-checkpoint.ipynb
.ipynb_checkpoints/opdr_2.4-checkpoint.ipynb
.ipynb_checkpoints/opdr_2.5-checkpoint.ipynb
.ipynb_checkpoints/opdr_2.5_with_neural_network-checkpoint.ipynb
.ipynb_checkpoints/opdr_2.6-checkpoint.ipynb
.ipynb_checkpoints/Perceptron-checkpoint.ipynb
.ipynb_checkpoints/P1 - Perceptron-checkpoint.ipynb
